.container {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  height: 82px;
  justify-content: space-between;
  width: 100%;
}

.link {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
}

.name_user {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-right: 3%;
}
